/* style.css */
body{
  background: #13F01D;
  color: rgb(82, 82, 82);
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Kaisei HarunoUmi', serif;;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: rgb(97, 160, 175);
  font-size: 50px;

}
h2 {
  font-family: 'Montserrat', sans-serif;
  color:  rgb(97, 160, 175);
  font-size: 25px;
}
a {
  text-decoration: none;
  color: rgb(180, 180, 180);
}
a:hover {
  text-decoration: none;
  color: black;
}

/*custom design*/


#banner{
  text-align: center;
  background-image: url("https://picsum.photos/1200/400");
  background-size: cover;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

#footer{
  padding: 20px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}


.card{
  padding: 20px;
  font-weight: lighter;
}